.App {
  padding: 30px;
  text-align: center;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
button {
  background-color: gray;
  color: #fff;
  padding: 20px;
  font-size: 15px;
  border-radius: 0;
}
.disabled {
  background: lightgray;
}